[submodule "externals/IF97"]
	path = externals/IF97
	url = https://github.com/CoolProp/IF97.git
[submodule "externals/nanobind"]
	path = externals/nanobind
	url = https://github.com/wjakob/nanobind.git
